.header-user{
	display: inline-flex;
	align-items: center;
	.inline-action{
		display: inline-flex;
		align-items: center;
		margin-left: 14px;
		cursor: pointer;
		color: #fff;
		font-size: 13px;
		&.avatar{
			.name{
				margin-left: 6px;
			}
		}
		&.preview{
			font-size: 20px;
			color: #fff;
		}
	}
}